<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.form.activity.dao.FormActivityMapper" >
  <resultMap id="BaseResultMap" type="com.form.activity.bean.FormActivity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="activity_id" property="activityId" jdbcType="BIGINT" />
    <result column="activity_name" property="activityName" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="img_path" property="imgPath" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="favou_policy" property="favouPolicy" jdbcType="VARCHAR" />
    <result column="activ_price" property="activPrice" jdbcType="DECIMAL" />
    <result column="activ_costPrice" property="activCostprice" jdbcType="DECIMAL" />
    <result column="activ_location" property="activLocation" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, activity_id, activity_name, category, img_path, description, favou_policy, activ_price, 
    activ_costPrice, activ_location, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from form_activity
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from form_activity
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.form.activity.bean.FormActivity" >
    insert into form_activity (id, activity_id, activity_name, 
      category, img_path, description, 
      favou_policy, activ_price, activ_costPrice, 
      activ_location, del_flag)
    values (#{id,jdbcType=BIGINT}, #{activityId,jdbcType=BIGINT}, #{activityName,jdbcType=VARCHAR}, 
      #{category,jdbcType=VARCHAR}, #{imgPath,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{favouPolicy,jdbcType=VARCHAR}, #{activPrice,jdbcType=DECIMAL}, #{activCostprice,jdbcType=DECIMAL}, 
      #{activLocation,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.form.activity.bean.FormActivity" >
    insert into form_activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="activityName != null" >
        activity_name,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="imgPath != null" >
        img_path,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="favouPolicy != null" >
        favou_policy,
      </if>
      <if test="activPrice != null" >
        activ_price,
      </if>
      <if test="activCostprice != null" >
        activ_costPrice,
      </if>
      <if test="activLocation != null" >
        activ_location,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=BIGINT},
      </if>
      <if test="activityName != null" >
        #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="imgPath != null" >
        #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="favouPolicy != null" >
        #{favouPolicy,jdbcType=VARCHAR},
      </if>
      <if test="activPrice != null" >
        #{activPrice,jdbcType=DECIMAL},
      </if>
      <if test="activCostprice != null" >
        #{activCostprice,jdbcType=DECIMAL},
      </if>
      <if test="activLocation != null" >
        #{activLocation,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.form.activity.bean.FormActivity" >
    update form_activity
    <set >
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=BIGINT},
      </if>
      <if test="activityName != null" >
        activity_name = #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="imgPath != null" >
        img_path = #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="favouPolicy != null" >
        favou_policy = #{favouPolicy,jdbcType=VARCHAR},
      </if>
      <if test="activPrice != null" >
        activ_price = #{activPrice,jdbcType=DECIMAL},
      </if>
      <if test="activCostprice != null" >
        activ_costPrice = #{activCostprice,jdbcType=DECIMAL},
      </if>
      <if test="activLocation != null" >
        activ_location = #{activLocation,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.form.activity.bean.FormActivity" >
    update form_activity
    set activity_id = #{activityId,jdbcType=BIGINT},
      activity_name = #{activityName,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      img_path = #{imgPath,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      favou_policy = #{favouPolicy,jdbcType=VARCHAR},
      activ_price = #{activPrice,jdbcType=DECIMAL},
      activ_costPrice = #{activCostprice,jdbcType=DECIMAL},
      activ_location = #{activLocation,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>