<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.form.user.dao.ManagerMapper">
  <resultMap id="BaseResultMap" type="com.form.user.bean.Manager">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="userkey" jdbcType="VARCHAR" property="userkey" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="mod_time" property="modTime" jdbcType="TIMESTAMP" />
    <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="cellphone" jdbcType="VARCHAR" property="cellphone" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
    <result column="photo_img" jdbcType="VARCHAR" property="photoImg" />
    <result column="identify" jdbcType="VARCHAR" property="identify" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, userkey, create_time,mod_time,login_time,cellphone, del_flag, photo_img,identify
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from manager
    where id = #{id,jdbcType=BIGINT}
  </select>
  <!-- 通过用户名查询用户信息 -->
  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from manager
    where username = #{username,jdbcType=VARCHAR} and del_flag='0'
  </select>

  <select id="checkexistsByName" parameterType="java.lang.String" resultType="java.lang.Long">
    select
    count(1)
    from manager
    where username = #{username,jdbcType=VARCHAR} AND del_flag='0';
  </select>

  <select id="selectManagerByNamePwd" parameterType="java.util.Map" resultMap="BaseResultMap" >
		select
        <include refid="Base_Column_List"/>
		from manager
		where username = #{username,jdbcType=VARCHAR} and del_flag='0' and userkey = md5(#{userkey,jdbcType=VARCHAR})
	</select>

  <insert id="insertSelective" parameterType="com.form.user.bean.Manager">
    insert into manager
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="userkey != null">
        userkey,
      </if>
      <if test="createTime == null">
        create_time,
      </if>
      <if test="modTime != null">
        mod_time,
      </if>
      <if test="loginTime != null">
        login_time,
      </if>
      <if test="cellphone != null">
        cellphone,
      </if>
      <if test="del_flag != null">
        delFlag,
      </if>
      <if test="photoImg != null">
        photo_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userkey != null">
        #{userkey,jdbcType=VARCHAR},
      </if>
      <if test="cellphone != null">
        #{cellphone,jdbcType=VARCHAR},
      </if>
      <if test="createTime == null">
        SYSDATE(),
      </if>
      <if test="modTime != null">
        #{modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="photoImg != null">
        #{photoImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.form.user.bean.Manager">
    update manager
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userkey != null">
        userkey = #{userkey,jdbcType=VARCHAR},
      </if>
      <if test="cellphone != null">
        cellphone = #{cellphone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      mod_time = sysdate(),
      <if test="loginTime != null">
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="photoImg != null">
        photo_img = #{photoImg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.form.user.bean.Manager">
		update manager
		set login_time = sysdate()
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>